<h1>Listing swimmers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @swimmers.each do |swimmer| %>
      <tr>
        <td><%= swimmer.name %></td>
        <td><%= swimmer.about %></td>
        <td><%= link_to 'Show', swimmer %></td>
        <td><%= link_to 'Edit', edit_swimmer_path(swimmer) %></td>
        <td><%= link_to 'Destroy', swimmer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Swimmer', new_swimmer_path %>
